<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= person.name %></h1>
    <p><%= person.name %>'s age is <%= person.age %></p>
    <p><%= person.name %>'s wish is for <%= person.wish %></p>
    <p><a href="<%= person.id %>/edit">Edit <%= person.name %></a></p>
</body>
</html>